<app-menubar></app-menubar>
<h2 class="title">Dashboard</h2>
<div class="dashboard-items">
  <app-dashboard-item text="$300 Revenue"></app-dashboard-item>
  <app-dashboard-item text="$12 Today"></app-dashboard-item>
  <app-dashboard-item text="2000 Users"></app-dashboard-item>
  <app-dashboard-item text="45 Logged In"></app-dashboard-item>
  <app-dashboard-item text="12 Last Minute"></app-dashboard-item>
  <app-dashboard-item text="Random Text"></app-dashboard-item>
  <app-dashboard-item text="Status OK"></app-dashboard-item>
  <app-dashboard-item text="Random"></app-dashboard-item>
</div>
